@page "/Eventos"
@using SensorEventsHub.UI.Client.Models
@inject HttpClient Http

<h1>Eventos</h1>

<p>Eventos Recebidos</p>

@if (eventos == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Tag</th>
                <th>Valor</th>
                <th>Processado</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var evento in eventos)
            {
                <tr>
                    <td>@evento.Timestamp</td>
                    <td>@evento.Tag</td>
                    <td>@evento.Valor</td>
                    <td>@FoiProcessado(evento.Valor)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
    
}

@code {
    private Evento[] eventos;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async Task LoadData()
    {
        eventos = await Http.GetJsonAsync<Evento []>("http://localhost:55897/api/sensores");
    }

    private string FoiProcessado(string valor)
    {
        string processado = "";

        if(valor == null || valor == "")
        {
            processado = "Não processado.";
        }
        else
        {
            processado = "Processado";
        }

        return processado;

    }

}
