@page "/Sensores"
@using SensorEventsHub.UI.Client.Models
@inject HttpClient Http
@using SensorEventsHub.UI.Client.Componentes

<h1>Sensores</h1>

<p>Sensores Por Região</p>


<div class="container-fluid">
    <SensorNordeste></SensorNordeste>
</div>
<div class="container-fluid">
    <SensorNorte></SensorNorte>
</div>
<div class="container-fluid">
    <SensorSul></SensorSul>
</div>
<div class="container-fluid">
    <SensorSudeste></SensorSudeste>

</div>
