@inject HttpClient Http;
@using SensorEventsHub.App.Shared
@if(eventosSudeste == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Sensor</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>brasil.sensor.sudeste</td>
                    <td>@ValorSudeste()</td>
                </tr>

            </tbody>
        </table>
    </div>

}

@code {
    private Evento [] eventosSudeste;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    protected async Task LoadData()
    {
        eventosSudeste = await Http.GetJsonAsync<Evento []>("http://localhost:50620/api/sensores/sudeste");
    }
    private int ValorSudeste()
    {
        var count = 0;

        foreach(var item in eventosSudeste)
        {
          count += int.Parse(item.Valor);
        }

        return count;
    }
}
